
@{
    ViewBag.Title = "UserPanel";
}

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div id="koledar"></div>
        <br>
        <b>Trenuten izbor:</b>
      
        <p>
            <input placeholder="Datum od" type="text" id="input1" size="17" disabled>
            <input placeholder="Datum do" type="text" id="input2" size="17" disabled>
        </p>
        <p>
            @*<input id="izvozi" class="btn btn-default" type="button" value="Izvozi">*@
            <input id="isci" class="btn btn-default" type="button" value="Išči">
        </p>
    </div>

    <div class="col-lg-8 col-md-8">
        <table id="rezultatIskanja" class="table table-hover" hidden="true">
            <tr>
                <th>Dogodek/aktivnost</th>
                <th>Termin</th>
                <th>Opis</th>
                <th>Lokacija</th>
            </tr>
            <tr>
                <td>Tenis</td>
                <td>12:00-15:00</td>
                <td>Tedenski trening</td>
                <td>Ljubljana</td>
            </tr>
            <tr>
                <td>IoT</td>
                <td>15:00-21:00</td>
                <td><p>Na Fakulteti za elektrotehniko v Ljubljani se bo 25. novembra popoldan odvila brezplačna IoT konferenca z vrhunskimi strokovnjaki in aktualnimi predavanji.</p></td>
                <td>Ljubljana, Dunajska cesta 50</td>
            </tr>


        </table>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/Scripts/calendar.js")
}
