.inboxList tr:hover {
    background-color: aliceblue;
    cursor: pointer;    
}

.inboxList tr,
.inboxMail tr
{
    text-align: justify;
    border-style: solid;
    border-width: 0.1em;    
    border-color: aliceblue;
    
}

.messageContent td {
    padding: 0.5em 2em 1em 1em !important;  
}

.inboxList tr[class="active"] > td {
    background-color: aliceblue !important;
    font-weight: 600;    
}   

