.vnosnaForma {
    width: 100%;
}

.vnosnaForma .table input {
    width: 80%;
}

.vnosnaForma input[type="button"] {
    min-width: 140px;
    width: 24%;
    font-size: 1.2em;
    font-weight: 400;
    
}

.vnosnaForma .table td {
    padding: 1em 0 1em 1em;
    border-top: none !important;
    
}

.vnosnaForma .panel-heading {
    background-color: azure!important;   
    font-size: 1.2em;
    font-weight: 500;
}