@model EventiqonWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Registracija";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default vnosnaForma">
            <div class="panel-heading">Registracija</div>
            <form id="formaRegistracije" method="post">
                <div class="panel-body">
                    <table class="table">
                        <colgroup>
                            <col style="width:40%;">
                            <col style="width:60%;">
                        </colgroup>
                        <tr>
                            <td><label for="upIme">Uporabniško ime</label></td>
                            <td><input id="upIme" name="upIme" type="text" placeholder="Željeno uporabniško ime"></td>
                        </tr>
                        <tr>
                            <td><label for="eposta">E-naslov:</label></td>
                            <td><input id="eposta" name="eposta" type="email" placeholder="Vaš e-naslov"></td>
                        </tr>
                        <tr>
                            <td><label for="epostaPonovniVnos">Ponovni vnos e-naslova</label></td>
                            <td><input id="epostaPonovniVnos" name="epostaPonovniVnos" type="email" placeholder="Ponovite vnos vašega e-naslova"></td>
                        </tr>
                        <tr>
                            <td><label for="geslo">Geslo</label></td>
                            <td><input id="geslo" name="geslo" type="password" placeholder="Vnesite željeno geslo"></td>
                        </tr>
                        <tr>
                            <td><label for="gesloPonovniVnos">Ponovni vnos gesla</label></td>
                            <td><input id="gesloPonovniVnos" name="gesloPonovniVnos" type="password" placeholder="Ponovite vnos željenega gesla"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:0; padding-bottom:0;"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input id="registrirajSe" type="button" class="btn btn-info" value="Pridruži se!"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
<script>
        $(document).ready(function(){
            $('#formaRegistracije').validate({
                rules: {
                    upIme: {
                        obveznoPolje: true
                    },
                    eposta: {
                        obveznoPolje: true,
                        email:true
                    },
                    epostaPonovniVnos: {
                        obveznoPolje: true,
                        email: true,
                        equalTo: "#eposta"
                    },
                    geslo: {
                        obveznoPolje: true,
                        minlength: 5
                    },
                    gesloPonovniVnos: {
                        obveznoPolje: true,
                        equalTo: "#geslo"
                    }
                },
                messages: {
                    eposta: {
                        email: "Vnesi veljaven e-naslov"
                    },
                    geslo: {
                        minlength: "Geslo mora vsebovati najmanj 5 znakov"
                    },
                    epostaPonovniVnos: {
                        email: "Vnesi veljaven e-naslov",
                        equalTo: "Polji se morata ujemati"
                    },
                    gesloPonovniVnos: {
                        equalTo: "Gesli se morata ujemati"
                    }
                }
            });

            $('#registrirajSe').click(function(){
                $('#formaRegistracije').submit();
            });

            jQuery.validator.addMethod("obveznoPolje", $.validator.methods.required, "Polje ne sme biti prazno!");
        });
</script>    
}
